Java/actinver-fw-interno/FiduciaWeb/deploy/WEB-INF/classes/mx/com/inscitech/actinver/ws/watchlist/WatchListsServicePort1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://watchlist.ws.actinver.inscitech.com.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://watchlist.ws.actinver.inscitech.com.mx/">
  <xsd:complexType name="searchEntity">
    <xsd:sequence>
      <xsd:element name="entityData" type="ns0:serviceRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchEntityResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:serviceResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="setServiceConfig">
    <xsd:sequence>
      <xsd:element name="serviceConfig" type="ns0:serviceConfig" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="setServiceConfigResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:serviceResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="serviceRequest">
    <xsd:sequence>
      <xsd:element name="clientID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="clientTypeID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="companyName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="curp" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="secondLastName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="systemID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tin" type="xsd:string" minOccurs="0"/>
      <xsd:element name="userName" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="serviceResponse">
    <xsd:sequence>
      <xsd:element name="matches" type="ns0:wlMatch" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="serviceData" type="ns0:genericServiceResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="wlMatch">
    <xsd:sequence>
      <xsd:element name="activeDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="clientID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="clientTypeID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="companyName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="curp" type="xsd:string" minOccurs="0"/>
      <xsd:element name="inactiveDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lastUpdateDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="matchPercentage" type="xsd:string" minOccurs="0"/>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="secondLastName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tin" type="xsd:string" minOccurs="0"/>
      <xsd:element name="watchListPersonID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="watchListPersonStatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="watchListType" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="genericServiceResponse">
    <xsd:sequence>
      <xsd:element name="errorDetail" type="ns0:errorData" minOccurs="0"/>
      <xsd:element name="exitCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="exitMessage" type="xsd:string" minOccurs="0"/>
      <xsd:element name="messages" type="ns0:genericMessage" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="requestedOperation" type="xsd:string" minOccurs="0"/>
      <xsd:element name="responseCategory" type="xsd:string" minOccurs="0"/>
      <xsd:element name="responseMessage" type="xsd:string" minOccurs="0"/>
      <xsd:element name="responseType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="succeded" type="xsd:boolean"/>
      <xsd:element name="transactionID" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="errorData">
    <xsd:sequence>
      <xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      <xsd:element name="stackTrace" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="genericMessage">
    <xsd:sequence>
      <xsd:element name="category" type="xsd:string" minOccurs="0"/>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      <xsd:element name="systemCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="type" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="serviceConfig">
    <xsd:sequence>
      <xsd:element name="headerData" type="ns0:esbHeader" minOccurs="0"/>
      <xsd:element name="namespaceLocalPart" type="xsd:string" minOccurs="0"/>
      <xsd:element name="namespaceURI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="serviceURL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="useCommonHeader" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="esbHeader">
    <xsd:sequence>
      <xsd:element name="IPAddress" type="xsd:string" minOccurs="0"/>
      <xsd:element name="clientID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="language" type="xsd:string" minOccurs="0"/>
      <xsd:element name="operationName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="operationVersion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="systemID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="useDateTime" type="xsd:boolean"/>
      <xsd:element name="userName" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="searchEntity" type="ns0:searchEntity"/>
  <xsd:element name="searchEntityResponse" type="ns0:searchEntityResponse"/>
  <xsd:element name="setServiceConfig" type="ns0:setServiceConfig"/>
  <xsd:element name="setServiceConfigResponse" type="ns0:setServiceConfigResponse"/>
</xsd:schema>